body {
	background: #0E67A6;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

.main-logo {
	width: 125px;
	position: absolute;
	top: 20px;
	left: 20px;

}

.container {
	background: #fff;
	width: 40em;
	height: 28em;
	margin: 60px auto 0 auto;
	text-align: center;
	padding: 50px;
	border-radius: 5px;
	box-shadow: -1px 1px 2px #202020;

}

.radio-container {
	background: white;
	width: 100%;
	margin: 0 auto;
}

header.landing-header {
	font-size: 50px;
	padding-bottom: 25px;
}

h1.landing-subheader {
	font-size: 30px;
	padding-bottom: 65px;
	font-weight: 300;
}

h1.score-subheader {
	font-size: 30px;
	font-weight: 300;
}

h1.question-text {
	font-size: 30px;
	font-weight: 300;
	text-align: left;
	padding-left: 20px;
}

h1.question-number {
	font-size: 30px;
	font-weight: 300;
	text-align: left;
	/*padding-left: 20px;*/
}

h1.question-text {
	font-size: 30px;
	font-weight: 300;
	text-align: left;
	padding-left: 0px;
	padding-bottom: 30px;
}

.score-text {
	font-size: 50px;
	font-weight: 400;
}

.divider {
	height: 1px;
	width: 100%;
	background: #ddd;
}

.start-button, .try-again-button {
	background: #E31A4C;
	color: #fff;
	padding: 20px 70px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	box-shadow: -1px 1px 0.5px #202020;
}

.start-button:hover, .try-again-button:hover {
	transition: 0.5s;
	box-shadow: -3px 3px 5px #202020;
}

/*.start-button:active, .try-again-button:active; {
	background: #cc1744;
	box-shadow: inset 1px 1px 1px #202020;
}*/

.start-button:focus, .try-again-button:focus {
	outline: none;
}

.try-again-button {
	margin-top: 30px;
}

input.next-button {
	background: #E31A4C;
	color: #fff;
	padding: 12px 45px;
	border-radius: 5px;
	border: none;
	font-size: 20px;
	box-shadow: -1px 1px 0.5px #202020;
	float: right;
	margin-top: 20px;
}

.next-button:hover {
	background: #ca1b47;
}

.next-button:active {
	position: relative;
	right: 1px;
	top: 1px;
	box-shadow: none;
}

.next-button:focus {
	outline: none;
	
}

/* Form Styling ---------------------------
-----------------------------------------*/

input[type="radio"] {

}

input[type="radio"] + label {
	font-size: 24px;
	padding-left: 10px;
	padding-bottom: 10px;
}

input {
	vertical-align: middle;
}




